ort {
  licenseFilePatterns {
    licenseFilenames = [
      "copying*",
      "copyright",
      "licence*",
      "*.licence",
      "license*",
      "*.license",
      "unlicence",
      "unlicense"
    ]

    patentFilenames = [
      "patents"
    ]

    rootLicenseFilenames = [
      "readme*"
    ]
  }

  severeIssueThreshold = $ORT_SEVERE_ISSUE_THRESHOLD
  severeRuleViolationThreshold = $ORT_SEVERE_RULE_VIOLATION_THRESHOLD

  enableRepositoryPackageCurations = $ORT_ENABLE_REPOSITORY_PACKAGE_CURATIONS
  enableRepositoryPackageConfigurations = $ORT_ENABLE_REPOSITORY_PACKAGE_CONFIGURATIONS

  scanner {
    archive {
      fileStorage {
        localFileStorage {
          directory = ~/.ort/scanner/archive
          compression = false
        }
      }

      $ORT_POSTGRES
    }

    options {
      ScanCode {
        commandLine = $ORT_SCANCODE_CLI_PARAMS
        parseLicenseExpressions = $ORT_SCANCODE_PARSE_LICENSE_EXPRESSIONS
        minVersion = $ORT_SCANCODE_MIN_VERSION
        maxVersion = $ORT_SCANCODE_MAX_VERSION
      }
    }

    storages {
      local {
        backend {
          localFileStorage {
            directory = ~/.ort/scanner/results
            compression = false
          }
        }
      }

      $ORT_POSTGRES
    }

    storageReaders = ["$ORT_STORAGE_READERS"]
    storageWriters = ["$ORT_STORAGE_WRITERS"]

    ignorePatterns: [
      "**/*.ort.yml",
      "**/META-INF/DEPENDENCIES"
    ]
  }
}